[submodule "apps/app-web"]
	path = apps/app-web
	url = git@github.com:IronManSuper/app-web.git
[submodule "apps/docs"]
	path = apps/docs
	url = git@github.com:IronManSuper/docs.git
[submodule "apps/web"]
	path = apps/web
	url = git@github.com:IronManSuper/web.git
